<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Server side rendered</h1>
    <form method="POST" action="/api/url">
        <label>Enter Your original Url</label>
        <input 
            name="url"
            type="text" 
            placeholder="https://example.com"
        />
        <button type="submit">Generate</button>
        <% if (locals.id) { %>
            <p>Url Generated : http://localhost:3000/api/url/<%= id %></p>
        <% } %>
    </form>
</body>
</html>